@import 'vars';
@import 'global';
@import 'fonts';

// start header

.header {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}

.header__inner {
  padding: 60px 90px 15px 95px;
}

.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 189px;
}

.menu__btn {
  display: flex;
  align-items: center;
  cursor: pointer;
  span {
    font-size: 20px;
    letter-spacing: 0.06em;
    margin-left: 15px;
  }
}

.menu__btn-burger {
  div {
    width: 23px;
    height: 1px;
    background-color: #ffffff;
    & + div {
      margin-top: 6px;
    }
  }
}

.header__title {
  font-size: 120px;
  line-height: 132px;
  text-align: center;
  margin: 0 auto 80px;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  max-width: 818px;
}

.header__btn {
  display: block;
  margin: 0 auto;
  text-align: center;
  max-width: 199px;
  text-transform: uppercase;
  padding: 19px 30px 16px;
  letter-spacing: 0.15em;
  border: 1px solid #FFFFFF;
  font-size: 12px;
  background: rgba(0, 0, 0, 0.4);
  margin-bottom: 40px;
  transition: all ease .5s;
  &:hover {
    background: #fff;
    color: #000;
  }
}

.header__bottom {
  display: flex;
  justify-content: space-between;
}

.social {
  display: flex;
  flex-direction: column;
  a + a {
    margin-top: 20px;
  }
}

.social__inst:hover {
  rect {
    stroke: #000;
    transition: all ease .3s;
  }
  circle {
    fill: #000;
    stroke: #000;
    transition: all ease .3s;
  }
 }

.social__facebook:hover {
  rect {
    stroke: #000;
    transition: all ease .3s;
  }
  path {
    fill: #000;
    transition: all ease .3s;
  }
}

.social__whatsapp:hover {
  path {
    fill: #000;
    transition: all ease .3s;
  }
}

.social__vk:hover {
  rect {
    stroke: #000;
    transition: all ease .3s;
  }
  path {
    fill: #000;
    transition: all ease .3s;
  }
}

.mouse-scroll {
  margin: -35px auto 0;
  width: 36.28px;
  height: 56px;
  border: 0.7px solid #FFFFFF;
  border-radius: 22px;
  background: rgba(36, 0, 0, 0.3);
  cursor: pointer;
  position: relative;
  &::before {
    position: absolute;
    content: '';
    height: 9.46px;
    border: 0.7px solid #FFFFFF;
    left: 17px;
    top: 10px;
    animation-name: scroll-animation;
    animation-duration: 3s;
    animation-iteration-count: infinite;
  }
}  

.catalog-anchor {
  transform: rotate(90deg);
  font-size: 20px;
  letter-spacing: 0.06em;
  position: relative;
  &::after {
    content: '\2193';
    position: absolute;
    transform: rotate(-90deg);
    font-size: 23px;
    top: -1px;
    right: -30px;
    transition: all ease .3s;
  }
  &:hover {
    &::after {
      right: -50px;
    }
  }
}

.header__gradient {
  height: 75px;
  background: linear-gradient(0deg, #3B181E 3.33%, rgba(59, 24, 30, 0) 100%);
}


// end header
// start burger-nav

.burger-nav {
  background-color: #3B181E;
  padding: 60px 95px 165px;
  position: absolute;
  z-index: 2;
  top: 0;
  left: -100%;
  width: 100%;
  transition: all ease .7s;
  &.active {
    left: 0;
  }
  .logo {
    text-align: center;
    margin-bottom: 153px;
  }
  .social {
    margin-top: -70px;
    width: 25px;
    a {
      opacity: 0.5;
      transition: all ease .3s;
      & + a {
        margin-top: 20px;
      }
    }
    .social__inst:hover, .social__facebook:hover, .social__whatsapp:hover, .social__vk:hover {
      opacity: 1;
      rect {
        stroke: #fff;
      }
      path {
        fill: #fff;
      }
      circle {
        fill: #fff;
        stroke: #fff;
      }
    }
  }
}

.close-btn {
  position: absolute;
  top: 70px;
  right: 130px;
  width: 28px;
  height: 28px;
  cursor: pointer;
  &:hover {
    div {
      background-color: #fff;
    }
  }
  div {
    position: absolute;
    height: 1px;
    width: 28px;
    top: 50%;
    background-color: rgba(255, 255, 255, 0.5);
    transform: rotate(45deg);
    transition: all ease .3s;
    + div {
      transform: rotate(-45deg);
    }
  }
}

.burger__menu {
  text-align: center;
  li {
    width: 435px;
    min-height: 105px;
    margin: 0 auto;
    margin-top: 57px;
    &:nth-child(3) {
      min-height: 55px;
    }
  }
  a {
    font-size: 35px;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    opacity: 0.5;
    transition: all ease .3s;
    &:hover {
      font-size: 45px;
      opacity: 1;
    }
  }
}

// end burger-nav
// start catalog section

.catalog {
  background-color: #3B181E;
  padding: 170px 100px;
}

.catalog__title {
  margin: 0 auto;
  text-align: center;
  max-width: 230px;
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  padding-bottom: 25px;
  position: relative;
  &::after {
    position: absolute;
    content: '';
    width: 85.5px;
    height: 2px;
    background-color: #fff;
    bottom: 0px;
    left: 70px;
  }
}

.catalog__bg-title {
  font-size: 182px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  opacity: 0.03;
  margin-top: -33px;
}

.catalog__items {
  display: flex;
  justify-content: space-between;
  padding: 0 60px;
}

.catalog__item {
  margin-top: -100px;
  padding: 10px;
  transition: all ease .5s;
  border: 1px solid #3B181E;
  &:hover {
    border: 1px solid rgba(255, 255, 255, 0.2);
    .catalog__item-btn {
      opacity: 1;
    }
    .catalog__item-title {
      margin-bottom: 20px;
    }
    .catalog__item-box::before {
      background-color: rgba(0, 0, 0, 0.6);
    }
    .catalog__item-number::after {
      width: 70px;
    }
  }
}

.catalog__item-box {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 450px;
  width: 275px;
  padding: 36px 20px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  &::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;
    transition: all ease .5s;
  }
}

.catalog__item-number {
  font-size: 20px;
  position: relative;
  transition: all ease .3s;
  &::after {
    position: absolute;
    content: '';
    width: 0px;
    height: 1px;
    background-color: #fff;
    bottom: 6px;
    left: 30px;
    transition: all ease .5s;
  }
}

.catalog__item-title {
  margin-top: auto;
  font-size: 16px;
  line-height: 27px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  opacity: 0.9;
  margin-bottom: -51px;
  transition: all ease .5s;
}

.catalog__item-btn {
  font-size: 12px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  text-align: center;
  color: #010001;
  max-width: 199px;
  padding: 19px 30px;
  background-color: #fff;
  position: relative;
  opacity: 0;
  transition: all ease .5s;
}

// end catalog section
// start special-offer section

.special-offer {
  padding-bottom: 170px;
  background-color: #3B181E;
}

.special-offer__inner {
  display: flex;
  justify-content: center;
}

.special-offer__box {
  max-width: 350px;
  width: 100%;
  margin-top: 65px;
}

.special-offer__title {
  font-size: 30px;
  line-height: 51px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  padding-bottom: 15px;
  margin-bottom: 25px;
  position: relative;
  &::before {
    position: absolute;
    content: '';
    width: 85.5px;
    height: 2px;
    background-color: #fff;
    bottom: 0;
  }
}

.special-offer__text {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 45px;
}

.special-offer__btn {
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  padding: 17px 30px;
  background-color: #000;
  transition: all ease .3s;
  &:hover {
    color: #000000;
    background-color: #fff;
  }
}

.special-offer__img {
  margin-left: 150px;
}

// end special-offer section
// start footer

.footer {
  background-color: #3B181E;
  padding: 0 52px 30px;
}

.footer__inner {
  padding-top: 20px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  text-align: center;
}

.footer__menu {
  margin-bottom: 30px;
}

.footer__menu-item {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.5);
  transition: all ease .5s;
  & + .footer__menu-item {
    margin-left: 50px;
  }
  &:hover {
    color: #fff;
  }
}

.footer__social {
  a + a {
    margin-left: 50px;
  }
}

.footer__inst:hover {
  rect {
    stroke: #000;
    transition: all ease .3s;
  }
  circle {
    fill: #000;
    stroke: #000;
    transition: all ease .3s;
  }
 }

.footer__facebook:hover {
  rect {
    stroke: #000;
    transition: all ease .3s;
  }
  path {
    fill: #000;
    transition: all ease .3s;
  }
}

.footer__whatsapp:hover {
  path {
    fill: #000;
    transition: all ease .3s;
  }
}

.footer__vk:hover {
  rect {
    stroke: #000;
    transition: all ease .3s;
  }
  path {
    fill: #000;
    transition: all ease .3s;
  }
}

// end footer

// start popup

#popup {
  display: none;
  &.fancybox-content {
    padding: 0;
  }
  .fancybox-close-small {
    padding: 0;
    opacity: 0.5;
    margin-top: 15px;
    margin-right: 15px;
    transition: all ease .3s;
    &:hover {
      opacity: 1;
    }
  }
}

.popup__inner {
  display: flex;
  width: 716px;
}

.popup__form {
  background-color: #3B181E;
  padding: 66px;
  input {
    width: 100%;
    background-color: #3B181E;
    border: 1px solid rgba(246, 246, 249, 0.2);
    padding: 15px 22px;
    color: $text;
    font-size: 14px;
    outline: none;
    &::placeholder {
      font-size: 14px;
      color: $text;
    }
    & + input {
      margin-top: 17px;
      margin-bottom: 27px;
    }
  }
  button {
    width: 100%;
    border: none;
    padding: 18px;
    color: #010001;
    font-size: 11px;
    letter-spacing: 0.15em;
    cursor: pointer;
  }
}

.popup__title {
  font-size: 20px;
  line-height: 34px;
  text-transform: uppercase;
  letter-spacing: 0.09em;
  text-align: center;
  padding: 0 33px;
  margin-bottom: 40px;
}

// end popup
// start event-bouquets page

.event-bouquets {
  display: flex;
}

.event-bouquets__img {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 996px;
  width: 100%;
  position: relative;
  &::after {
    position: absolute;
    content: '';
    top: 20px;
    left: 20px;
    bottom: 20px;
    right: -20px;
    border: 1px solid rgba(255, 255, 255, 0.2);
  }
  a {
    margin-top: 60px;
    margin-left: 95px;
    position: relative;
    z-index: 1;
  }
  .menu__btn {
    display: none;
  }
}

.event-bouquets__content {
  background-color: #3B181E;
  padding: 80px 90px 25px 100px;
  .menu__btn {
    justify-content: flex-end;
    margin-bottom: 105px;
  }
}

.event-bouquets__title {
  font-size: 50px;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  max-width: 515px;
  margin-bottom: 50px;
}

.event-bouquets__text {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  line-height: 27px;
  width: 600px;
  padding-right: 50px;
  margin-bottom: 30px;
}

.event-bouquets__btn {
  padding: 19px 35px;
  font-size: 12px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  border: 1px solid #FFFFFF;
  margin-bottom: 100px;
  transition: all ease .3s;
  &:hover {
    color: #010001;
    background-color: #fff;
  }
}

.slider__bouquets {
  margin-bottom: 150px;
  max-width: 552px;
}

.slider__item {
  div {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 123px;
    height: 123px;
    cursor: pointer;
  }
}

.slick-arrow {
  width: 46px;
  height: 46px;
  background-color: rgba(0, 0, 0, 0.4);
  border: 1px solid #FFFFFF;
  outline: none;
  position: absolute;
  z-index: 1;
  border-radius: 23px;
  cursor: pointer;
  transition: all ease .3s;
  &:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
}

.slick-prev {
  left: -26px;
  top: 41px;
}

.slick-next {
  top: 41px;
  right: -11px;
}

.event-bouquets__inst {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  .social__inst {
    margin-left: 30px;
  }
}

// end event-bouquets page
// animations

@keyframes scroll-animation {
  0% {
    top: 0;
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  40% {
    top: 10px;
    opacity: 1;
  }
  70% {
    top: 20px;
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes hover-animation {
  0% {
    opacity: 0;
  }
}

@import 'media';

